#SignUp {
  max-width: 400px;
  padding: 50px 0;
  margin: auto;

  > * {
    margin: 10px 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  > .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.signUpButton{
      width:40%;
    }
    > p {
      margin:0;
      padding:0;
    }
  }
}

