#TomatoHistoryItem {
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  .text {
    display: flex;
    justify-content: space-between;
    .time {
      color: #999;
      margin-right: 8px;
    }

    .action {
      display: flex;

      .text {
        color: #222;
      }
      .button {
        color: deepskyblue;
        cursor: pointer;
      }
    }
  }


  &:hover {
    background: #f4f4f4;
    cursor: default;

    > .action {
      display: block;
    }
  }
}

